/*Navbar opacity

.opacity
  opacity: .5

// Manually changing the color of the brand logo since react materialize does not seem to allow for this.
nav .brand-logo
  color: #518dcc
  // font-family: 'Rye', cursive

// Manually changing the color of the hamburger menu since react materialize does not seem to allow for this.
nav .material-icons
  color: #518dcc

/*flexing cards

.center-cards
  display: flex
  justify-content: center
  flex-wrap: wrap

/*Centering the button on screen

.center-button
  display: flex
  justify-content: center

/*Fix card sizing so all cards are the same

.all-card-size
  min-height: 20rem
  max-height: 20rem
  min-width: 20rem
  max-width: 20rem

.common-background
  background: #DBFCFF

.common-cards
  background: #933F62

/*fixing tables in geoloc.js

/*.fix-table {
 *  display: flex;
 *  justify-content: center;
 *}

@keyframes App-logo-spin
  from
    transform: rotate(0deg)

  to
    transform: rotate(360deg)
